{% extends 'base.html.twig' %}

{% block title %}Liste des Pains - CRUDcroustillant{% endblock %}

{% block body %}
    {% include '_header.html.twig' %}
    <h1>Liste des pains</h1>
    {% include '_footer.html.twig' %}
{% endblock %}
