{% extends 'base.html.twig' %}

{% block title %}Liste des Oignons - CRUDcroustillant{% endblock %}

{% block body %}
    {% include '_header.html.twig' %}
    <h1>Liste des oignons</h1>
    {% include '_footer.html.twig' %}
{% endblock %}
